# This is the default configuration file.

Sidekiq/ActiveRecordArgument:
  Description: "ActiveRecord arguments are not valid parameters to a Sidekiq worker"
  StyleGuide: "https://github.com/mperham/sidekiq/wiki/Best-Practices#1-make-your-job-parameters-small-and-simple"
  Enabled: true
  VersionAdded: '0.5'
  # Look for uses within variables and methods that are passed to perform_*
  DetectLocalIdentifiers: false

Sidekiq/ConstArgument:
  Description: "Classes and objects are not valid parameters to a Sidekiq worker"
  StyleGuide: "https://github.com/mperham/sidekiq/wiki/Best-Practices#1-make-your-job-parameters-small-and-simple"
  Enabled: true
  VersionAdded: '0.5'

Sidekiq/DateTimeArgument:
  Description: "Use strings or integers to represent dates/times, not objects"
  StyleGuide: "https://github.com/mperham/sidekiq/wiki/Best-Practices#1-make-your-job-parameters-small-and-simple"
  Enabled: true
  VersionAdded: '0.5'

Sidekiq/IncludedInModule:
  Description: "Only include Sidekiq::Worker in classes"
  Enabled: true
  VersionAdded: '0.5'

Sidekiq/InlinePerform:
  Description: "Do not instantiate and perform Sidekiq workers directly"
  Enabled: true
  VersionAdded: '0.5'
  Exclude:
    - 'spec/**/*'
    - 'test/**/*'

Sidekiq/KeywordArguments:
  Description: "Do not use keyword arguments in a sidekiq worker's perform method"
  StyleGuide: "https://github.com/mperham/sidekiq/wiki/Best-Practices#1-make-your-job-parameters-small-and-simple"
  Enabled: true
  VersionAdded: '0.5'

Sidekiq/NamedQueue:
  Description: "Minimize the number of queues used for sidekiq"
  StyleGuide: "https://github.com/mperham/sidekiq/wiki/Advanced-Options#queues"
  Enabled: true
  VersionAdded: '0.5'
  AllowedNames:
    - default
    - low
    - critical

Sidekiq/Sleep:
  Description: "Do not call sleep in a sidekiq worker, queue up a job for later instead"
  Enabled: true
  VersionAdded: '0.5'

Sidekiq/SymbolArgument:
  Description: 'Use strings instead of symbols as parameters to a worker'
  StyleGuide: "https://github.com/mperham/sidekiq/wiki/Best-Practices#1-make-your-job-parameters-small-and-simple"
  Enabled: true
  VersionAdded: '0.5'

